.popup__profile-name {
    margin: 54px auto 0;
    padding: 0;
    border: none;
    width: 358px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    .popup__profile-name {
        margin-top: 75px;
        width: 238px;
    }
}